<form>
  <!--<div class="input-group input-group-lg">-->
    <!--<span class="input-group-addon">@</span>-->
    <!--<input type="text" class="form-control" placeholder="Username">-->
  <!--</div>-->
  <!--<button></button>-->



  <div class="container">

    <form class="form-signin" role="form">
      <h2 class="form-signin-heading">Please give me the email already</h2>

      <div class="input-group input group-lg">
          <input type="email" class="form-control" placeholder="Email address" required autofocus>
          <button class="btn-primary" type="submit">Sign in</button>
      </div>
    </form>

  </div> <!-- /container -->

</form>