<form>
  <div class="input-group input-group-lg">
    <span class="input-group-addon">@</span>
    <input type="text" class="form-control" placeholder="Username">
  </div>
  <!--<button></button>-->
</form>